<html>
  <head><title>Index of templates</title></head>
  <body bgcolor="white"><h1>Index of templates</h1>
  <hr><pre>      <b>Filename</b>                                           <b>Date Modified</b>                   <b>Size (bytes)</b>
      <a href="/templates/arrow.svg" title="arrow.svg">arrow.svg</a>                                          2024-08-05 05:39:42.299Z                 368
      <a href="/templates/boat.svg" title="boat.svg">boat.svg</a>                                           2024-01-13 19:22:38.769Z                1895
      <a href="/templates/box.svg" title="box.svg">box.svg</a>                                            2024-01-13 19:22:50.033Z                 183
      <a href="/templates/bus.svg" title="bus.svg">bus.svg</a>                                            2024-01-13 19:23:01.478Z                1948
      <a href="/templates/circle.svg" title="circle.svg">circle.svg</a>                                         2024-01-13 19:23:09.275Z                 182
      <a href="/templates/train.svg" title="train.svg">train.svg</a>                                          2024-01-13 19:23:21.905Z                1649
      <a href="/templates/tram.svg" title="tram.svg">tram.svg</a>                                           2024-01-13 19:23:40.622Z                1269</pre><hr>
  </body>
</html>