<html>
  <head><title>Index of templates</title></head>
  <body bgcolor="white"><h1>Index of templates</h1>
  <hr><pre>      <b>Filename</b>                                           <b>Date Modified</b>                   <b>Size (bytes)</b>
      <a href="/templates/arrow.svg" title="arrow.svg">arrow.svg</a>                                          2023-11-17 03:41:51.461Z                 287
      <a href="/templates/boat.svg" title="boat.svg">boat.svg</a>                                           2023-08-23 00:50:11.708Z                1898
      <a href="/templates/bus.svg" title="bus.svg">bus.svg</a>                                            2023-08-23 00:29:21.955Z                1951
      <a href="/templates/train.svg" title="train.svg">train.svg</a>                                          2023-08-23 00:31:56.425Z                1652</pre><hr>
  </body>
</html>